<!-- IF U_MUSICSHARE_BROWSE -->
<li data-last-responsive="true">
	<a href="{U_MUSICSHARE_BROWSE}" title="{L_MUSICSHARE_NAV_LINK}" role="menuitem">
		<i class="icon fa-music fa-fw" aria-hidden="true"></i><span>{L_MUSICSHARE_NAV_LINK}</span>
	</a>
</li>
<!-- ENDIF -->

<!-- IF U_MUSICSHARE_UPLOADERS -->
<li data-last-responsive="true">
	<a href="{U_MUSICSHARE_UPLOADERS}" title="{L_MUSICSHARE_UPLOADERS}" role="menuitem">
		<i class="icon fa-headphones fa-fw" aria-hidden="true"></i><span>{L_MUSICSHARE_UPLOADERS}</span>
	</a>
</li>
<!-- ENDIF -->
